@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <a class="nav-link text-dark" asp-action="List" asp-controller="States">Manage States</a>
</div>
<div>
    <a class="nav-link text-dark" asp-action="List" asp-controller="Candidates">Manage Candidates</a>
</div>
<div>
    <a class="nav-link text-dark" asp-action="List" asp-controller="Parties">Manage Parties</a>
</div>
<div>
    <a class="nav-link text-dark" asp-action="List" asp-controller="Voters">Manage Voters</a>
</div>
<div>
    <a class="nav-link text-dark" asp-action="List" asp-controller="VotingSessions">Manage Session</a>
</div>