@using ElectoralSystem.Models.Entities
@using ElectoralSystem.Models.RequestDtos
@model NewCandidateDto

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Candidate Entry</h2>
        </div>
    </div>
    <div asp-validation-summary="All"></div>
    <input type="hidden" asp-for="Id" />
    <div class="mt-3">
        <label asp-for="Name">Candidate Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mt-3">
        <label asp-for="SelectedPartyId" class="control-label"></label>
        <select asp-for="SelectedPartyId" asp-items="new SelectList(Model.PartyList, nameof(Party.Id), nameof(Party.Name),
                            Model.SelectedPartyId)">
            <option value="">Select a Party</option>
        </select>
    </div>
    <div class="mt-3">
        <label asp-for="SelectedStateId" class="control-label"></label>
        <select asp-for="SelectedStateId" asp-items="new SelectList(Model.StateList, nameof(State.Id), nameof(State.Name),
                            Model.SelectedStateId)">
            <option value="">Select a State</option>
        </select>
    </div>
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <button type="submit" class="btn btn-primary" style="width:150px">Edit Entry</button>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Candidates" asp-action="List" class="btn btn-primary" style="width:200px">
                    Go back
                </a>
            </div>
        </div>
    </div>
</form>
@section Scripts
{
    <partial name="_ValidationScriptsPartial.cshtml">
    </partial>
}