@using ElectoralSystem.Models.Entities
@model State

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit State Entry</h2>
        </div>
    </div>
    <div asp-validation-summary="All"></div>
    <input type="hidden" asp-for="Id" value=@Model.Id/>
    <div class="mt-3">
        <label asp-for="Name">State Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mt-3">
        <label asp-for="NumberOfSeats">No.Of Seats</label>
        <input asp-for="NumberOfSeats" class="form-control" value=@Model.NumberOfSeats />
        <span asp-validation-for="NumberOfSeats" class="text-danger"></span>
    </div>
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="States" asp-action="List" class="btn btn-primary" style="width:200px">
                    Go back
                </a>
            </div>
        </div>
    </div>
</form>
@section Scripts
{
    <partial name="_ValidationScriptsPartial.cshtml">
    </partial>
}