@using ElectoralSystem.Models.Entities
@using ElectoralSystem.Models.RequestDtos
@model NewPartyDto

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add New Party Entry</h2>
        </div>
    </div>
    <div asp-validation-summary="All"></div>
    <div class="mt-3">
        <label asp-for="Name">Party Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mt-3">
        <label asp-for="SelectedPartySymbolId" class="control-label"></label>
        <select asp-for="SelectedPartySymbolId" asp-items="new SelectList(Model.PartySymbolsList, nameof(PartySymbol.Id), 
                nameof(PartySymbol.SymbolName),Model.SelectedPartySymbolId)">
            <option value="">Select a Party Symbol</option>
        </select>
    </div>
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <button type="submit" class="btn btn-primary" style="width:150px">Add Entry</button>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Parties" asp-action="List" class="btn btn-primary" style="width:200px">
                    Go back
                </a>
            </div>
        </div>
    </div>
</form>
@section Scripts
{
    <partial name="_ValidationScriptsPartial.cshtml">
    </partial>
}