@using ElectoralSystem.Models.Entities
@model Party

<form method="post" asp-action="Delete2">
    <input hidden asp-for="Id" value="@Model.Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Party Entry</h2>
        </div>
    </div>
    <div asp-validation-summary="All"></div>
    <div class="mt-3">
        <label asp-for="Name">Party Name</label>
        <input asp-for="Name" class="form-control" value=@Model.Name disabled />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mt-3">
        <label asp-for="PartySymbol">Party</label>
        <input asp-for="PartySymbol" class="form-control" value=@Model.PartySymbol.SymbolName disabled />
        <span asp-validation-for="PartySymbol" class="text-danger"></span>
    </div>   
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Parties" asp-action="List" class="btn btn-primary" style="width:200px">
                    Go back
                </a>
            </div>
        </div>
    </div>
</form>